/* -------------------- NON-SCROLLED STATES -------------------- */
/* Bottom Background Components for Mobile - Structured Around Hand */
.mobile-view-container .mobile-bottom-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Hand Component - Central Element */
.mobile-view-container .mobile-bottom-bg .hand {
  opacity: 1;
  z-index: 40;
  width: 470px;
  height: 400px;
  right: 16rem;
  top: 2rem;
  transform: translate3d(70%, 70%, 0);
}

/* Background Elements */
.mobile-view-container .mobile-bottom-bg .bg-1 {
  width: 250px;
  height: 300px;
  position: absolute;
  opacity: 0.1;
  transform: translate3d(75%, 75%, 0) scale(2.4);
  transition: all 2s ease-in-out;
}

.mobile-view-container .mobile-bottom-bg .bg-2 {
  opacity: 0;
  height: 1100px;
  width: 1100px;
  position: absolute;
  z-index: -1;
  transform: translate3d(-600px, -300px, 0);
}

/* Plants */
.mobile-view-container .mobile-bottom-bg .plant-1 {
  height: 80px;
  width: 60px;
  z-index: 0;
  opacity: 1;
  right: 16rem;
  top: 6rem;

  transform: translate3d(380%, 190%, 0);
}

.mobile-view-container .mobile-bottom-bg .plant-2 {
  height: 110px;
  width: 75px;
  opacity: 1;
  z-index: 0;
  right: 34.2rem;
  top: 6.5rem;
  transform: translate3d(300%, 140%, 0);
}

/* Walls */
.mobile-view-container .mobile-bottom-bg .wall-1 {
  height: 110px;
  width: 170px;
  opacity: 1;
  right: 25.4rem;
  top: 7rem;
  transform: translate3d(143%,130%, 0px) rotate(360deg);
}

.mobile-view-container .mobile-bottom-bg .wall-2 {
  height: 180px;
  width: 120px;
  opacity: 1;
  z-index: 1;
  right: 18.3rem;
  top: 1rem;
  transform: translate3d(170%,85%, 0px) rotate(360deg);
}

/* Roofs */
.mobile-view-container .mobile-bottom-bg .roof-1 {
  height: 140px;
  width: 200px;
  right: 22.5rem;
  z-index: 1;
  top: -0.2rem;
  transform: translate3d(109%,120%, 0px) rotate(360deg);
}

.mobile-view-container .mobile-bottom-bg .roof-2 {
  opacity: 1;
  height: 170px;
  width: 90px;
  z-index: 2;
  right: 22.5rem;
  top: 0.5rem;
  transform: translate3d(174%,20%, 0px) rotate(180deg) !important;
}

.mobile-view-container .mobile-bottom-bg .roof-3 {
  height: 100px;
  width: 190px;
  z-index: 0;
  right: 18.1rem;
  top: 1rem;
  transform: translate3d(113%,153%, 0px) rotate(180deg);
}

.mobile-view-container .mobile-bottom-bg .roof-4 {
  position: absolute;
  z-index:1;
  opacity: 1;
  height: 140px;
  width: 85px;
  right: 26.3rem;
  top: -0.37rem;
  transform: translate3d(255%, 138%, 0) rotate(360deg);
  transition: all 2s ease-in-out;
}

/* Windows */
.mobile-view-container .mobile-bottom-bg .window-1,
.mobile-view-container .mobile-bottom-bg .window-2,
.mobile-view-container .mobile-bottom-bg .window-3,
.mobile-view-container .mobile-bottom-bg .window-4,
.mobile-view-container .mobile-bottom-bg .window-5,
.mobile-view-container .mobile-bottom-bg .window-6 {
  position: absolute;
  opacity: 1;
  transform: translate(80%, 45%);
  transition: all 2s ease-in-out;
}

.mobile-view-container .mobile-bottom-bg .window-1 {
  opacity: 1;
  height: 60px;
  width: 30px;
  right: 32.2rem;
  top: 7.4rem;
  transform: translate3d(730%, 280%, 0);
}

.mobile-view-container .mobile-bottom-bg .window-2 {
  opacity: 1;
  height: 60px;
  width: 30px;
  right: 27.4rem;
  top: 7.4rem;
  transform: translate3d(730%, 280%, 0);
}

.mobile-view-container .mobile-bottom-bg .window-3 {
  opacity: 1;
  height: 60px;
  z-index: 1;
  width: 30px;
  right: 24rem;
  top: 7.4rem;
  transform: translate3d(730%, 280%, 0);
}

.mobile-view-container .mobile-bottom-bg .window-4 {
  opacity: 1;
  height: 60px;
  width: 30px;
  z-index: 1;
  right: 20.5rem;
  top: 7.4rem;
  transform: translate3d(750%, 280%, 0);
}

.mobile-view-container .mobile-bottom-bg .window-5 {
  opacity: 1;
  height: 40px;
  width: 25px;
  z-index: 2;
  right: 22.1rem;
  top: 4.2rem;
  transform: translate3d(890%, 400%, 0);
}

.mobile-view-container .mobile-bottom-bg .window-6 {
  opacity: 1;
  z-index: 2;
  height: 35px;
  width: 25px;
  right: 29.2rem;
  top: 3.65rem;
  transform: translate3d(850%, 450%, 0);
}

/* Gate */
.mobile-view-container .mobile-bottom-bg .gate {
  position: absolute;
  height: 80px;
  width: 30px;
  opacity: 1;
  z-index: 2;
  right: 21.2rem;
  top: 14.5rem;
  transform: translate3d(143%, 130%, 0) rotate(360deg);
}

/* Chimney */
.mobile-view-container .mobile-bottom-bg .chimney {
  position: absolute; 
  z-index:2;
  width: 25px;
  height: 25px;
  opacity:1;
  transform: translate3d(830%, 575%, 0);
  right: 23.5rem;
  top: 0rem;
  transition: all 2s ease-in-out;
}

/* Birds */
.mobile-view-container .mobile-bottom-bg .bird-1 {
  position: absolute;
  opacity: 1;
  z-index: 3;
  width: 80px;
  height: 30px;
  transform: translate3d(700%, 1000%, 0)scale(28)!important;
}

.mobile-view-container .mobile-bottom-bg .bird-2 {
  position: absolute;
  opacity: 1;
  z-index: 3;
  width: 80px;
  height: 30px;
  transform: translate3d(1050%, 1390%, 0)scale(28)!important;
}

/* Clouds */
.mobile-view-container .mobile-bottom-bg .cloud-1 {
  position: absolute;
  opacity: 0;
  width: 100px;
  height: 40px;
  transform: translate3d(-100%, 180px, 0)!important;
}

.mobile-view-container .mobile-bottom-bg .cloud-2 {
  position: absolute;
  opacity: 1;
  width: 130px;
  height: 40px;
  transform: translate3d(190%, -370%, 0) scale(3.5)!important;
}

.mobile-view-container .mobile-bottom-bg .cloud-3 {
  position: absolute;
  opacity: 1;
  width: 260px;
  height: 40px;
  transform: translate3d(-50%, -650%, 0)scale(0.7);
}

/* Sun */
.mobile-view-container .mobile-bottom-bg .sun-circle {
  position: absolute;
  opacity: 1;
  z-index: 2;
  width: 620px;
  height: 600px;
  top: 100px;
  left: 50%;
  transform: scale(0.2) translate(-250%, -560%) rotate(2deg) !important;
  transition: all 2s ease-in-out; /* Positioned in the upper area, scaled up slightly */
}

/* -------------------- SCROLLED STATES -------------------- */
.mobile-view-container .mobile-bottom-bg.scrolled .hand {
  opacity: 1;
  z-index: 2;
  width: 470px;
  height: 400px;
  position: absolute;
  transform: none;
}

.mobile-view-container .mobile-bottom-bg.scrolled .plant-1 {
  position: absolute;
  height: 80px;
  width: 60px;
  z-index: 0;
  opacity: 1;
  right: 16rem;
  top: 6rem;
  transform: none;
  transition: all 2s ease-in-out;
}

.mobile-view-container .mobile-bottom-bg.scrolled .plant-2 {
  height: 110px;
  width: 75px;
  opacity: 0;
  z-index: 1;
  right: calc(34.2rem + 40px);
  top: calc(6.5rem + 2.4rem);
  transform: none;
}

.mobile-view-container .mobile-bottom-bg.scrolled .chimney {
  opacity: 0;
  width: 25px;
  height: 25px;
  right: calc(23.5rem + 40px);
  top: calc(0rem + 2.4rem);
  transform: none;
}