.property-list {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 25px;
  }
  
  @media (min-width: 640px) {
    .property-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .property-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  