/* General Styles */
/* body {
  background-color: #000000;
} */

.login_form_container {
    position: relative;
    width: 320px;
    height: 470px;
    max-width: 400px;
    max-height: 410px;
    background: #000000 !important;
    border-radius: 50px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .login_form_container::before {
    position: absolute;
    width: 170%;
    height: 170%;
    content: "";
    background-image: conic-gradient(
      transparent,
      transparent,
      transparent,
      #3cbdb1
    );
    animation: rotate_border 6s linear infinite;
  }
  
  .login_form_container::after {
    position: absolute;
    width: 170%;
    height: 170%;
    content: "";
    background-image: conic-gradient(
      transparent,
      transparent,
      transparent,
      #c8a217
    );
    animation: rotate_border 6s linear infinite;
    animation-delay: -3s;
  }
  
  @keyframes rotate_border {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .login_form {
    position: absolute;
    content: "";
    background-color: #000000;
    border-radius: 50px 5px;
    inset: 5px;
    padding: 50px 40px;
    z-index: 10;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
  }
  
  .input_group {
    margin-top: 30px; /* Adjusted spacing */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .input_text {
    width: 95%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #ffffff;
    font-size: 19px;
    padding-left: 10px;
    color: #ffffff;
  }
  
  ::placeholder {
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
  }
  
  .fa {
    font-size: 20px;
  }
  
  /* Adjusted Login Button Spacing */
  #login_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    margin-top: 60px; /* Increased space above */
    margin-bottom: 80px; /* Reduced space below */
  }
  
  #login_button button {
    width: 300px;
    height: 40px;
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
    font-size: 22px;
    letter-spacing: 2px;
    border: 1px solid #c8a217;
    border-radius: 50px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
  
  #login_button button:hover {
    background-color: #c8a217;
  }
  
  .fotter {
    position: absolute;
    bottom: 60px; /* Adjusted for visibility */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
  }
  
  .fotter a {
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    color: #3cbdb1;
  }
  
  .glowIcon {
    text-shadow: 0 0 10px #3cbdb1;
  }
  