.reset_form_container::before {
    @apply absolute w-[170%] h-[170%] bg-[conic-gradient(transparent,_transparent,_transparent,_#C8A217)] animate-rotate_border;
    content: "";
  }
  
  .reset_form_container::after {
    @apply absolute w-[170%] h-[170%] bg-[conic-gradient(transparent,_transparent,_transparent,_#3CBDB1)] animate-rotate_border;
    content: "";
    animation-delay: -3s;
  }
  .placeholder-custom::placeholder {
    font-size: 15px;
    color: #3cbdb1;
    letter-spacing: 1px;
  }
  