
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}


@keyframes marquee {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite; 
  animation-play-state: running;
}

.marquee {
  display: flex; /* Align images horizontally */
  width: calc(100% * 3); /* Ensure enough width for smooth scrolling */
}

.whitespace-nowrap {
  white-space: nowrap; /* Prevent line breaks */
}


.animate-marquee:hover {
  animation-play-state: paused; /* Pause the animation on hover */
}
.overflow-hidden {
  overflow: hidden;  /* //Prevent overflow */
}

@media (max-width: 640px) {
  @keyframes marquee {
    0% {
      transform: translateX(350%); /* Start fully off the screen */
    }
    100% {
      transform: translateX(-350%); /* Move fully off the screen to the left */
    }
  }

  .animate-marquee {
    animation: marquee 15s linear infinite; /* Shorter duration for smaller screens */
    animation-play-state: running;
  }

  .marquee {
    display: flex;
    width: max-content; /* Ensure the width wraps around all images */
  }
  .animate-marquee:hover {
    animation-play-state: paused;
  }
}