@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: black;
  min-width: 320px;
  min-height: 100vh;
}

@layer components{
  @keyframes rotate_border {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .after_login_form_container {
    @apply absolute w-[170%] h-[170%] content-[""] bg-[conic-gradient(_transparent,transparent,transparent,#c8a217_)] animate-[rotate\_border_6s_linear_infinite];
    animation-delay: -3s;
  }
  .before_login_form_container {
    @apply absolute w-[170%] h-[170%] content-[""] bg-[conic-gradient(_transparent,transparent,transparent,#3cbdb1_)] animate-[rotate\_border_6s_linear_infinite];
  }
  
  .before_reset_form_container {
    @apply absolute w-[170%] h-[170%] bg-[conic-gradient(transparent,_transparent,_transparent,_#C8A217)] animate-rotate_border;
    content: "";
  }
  .after_reset_form_container {
    @apply absolute w-[170%] h-[170%] bg-[conic-gradient(transparent,_transparent,_transparent,_#3CBDB1)] animate-rotate_border;
    content: "";
    animation-delay: -3s;
  }

  .before_register_form_container {
    @apply absolute w-[200%] h-[200%] bg-[conic-gradient(transparent,_transparent,_transparent,_#3cbdb1)] animate-rotate_border;
    content: '';
  }
  .after_register_form_container {
    @apply absolute w-[200%] h-[200%] bg-[conic-gradient(transparent,_transparent,_transparent,_#c8a217)] animate-rotate_border;
    content: '';
    animation-delay: -3s;
  }
}
